:root {
  --pallete-1: #00520c;
  --pallete-2: #f5c800;
  --pallete-3: #ddecdd;
  --pallete-4: #1e5fba;
  --pallete-5: white;
}

@font-face {
  font-family: ubuntu;
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: ubuntu;
  src: url(../assets/fonts/Ubuntu-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: ubuntu;
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
  font-weight: bold;
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: var(--pallete-3);
  font-family: ubuntu, sans-serif;
}

.bottom-status {
  font-size: 24px;
  color: var(--pallete-4);
  margin-top: 24px;
}

.button {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  background-color: var(--pallete-2);
  color: var(--pallete-5);
}

.container-form {
  width: 320px;
  margin: auto;
}

.container-form textarea {
  height: 200px;
}

.container-main {
  width: 100%;
  height: 520px;
  text-align: center;
  padding: 0px;
  margin: 20px auto 0 auto;
  position: absolute;
}

.form-element {
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 30px;
}

form label{
  color: var(--pallete-4);
}

.form-left {
  text-align: left;
}

.form-center {
  text-align: center;
}

.form-margin-15 {
  margin: 15px 0px 15px 0px;
}

.form-margin-30 {
  margin: 30px 0px 30px 0px;
}
