.vscode
build
books/local
books/reference
books/test
docs/html/*
docs/latex*
ext/inja
ext/node-v14.17.4-linux-x64
install
lab/test/coverage/assets
output
project-journal
sandbox
server-no-docker
server/certificates
templates/js-guidelines.md
word-detective-js/dist
word-detective-js/node_modules
word-detective-js/package-lock.json
workspace.code-workspace
