.bottom-status {
  font-size: 22px;
  color: var(--pallete-1);
}

.button {
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  background-color: var(--pallete-1);
  color: var(--pallete-5);
}

.button-inline {
  display: inline-block;
  margin: 0px 5px;
}

.container-buttons {
  margin: 16px 0px 16px 0px;
}

.container-hexagons {
  --h-color: var(--pallete-1);
  --h-width-plus-margin: 60px;
  --h-side-plus-margin: calc(0.577350269 * var(--h-width-plus-margin));
  --h-theight-plus-margin: calc(0.288675134 * var(--h-width-plus-margin));
  --h-width: calc(0.95 * var(--h-width-plus-margin));
  --h-side: calc(0.95 * var(--h-side-plus-margin));
  --h-theight: calc(0.95 * var(--h-theight-plus-margin));
  width: calc(3 * var(--h-width-plus-margin));
  height: calc(5 * var(--h-side-plus-margin));
  text-align: left;
  position: relative;
  left: calc(50% - calc(1.5 * var(--h-width-plus-margin)));
}

.container-words {
  width: 273px;
  border: 1px solid var(--pallete-1);
  padding: 8px 8px 3px 8px;
  margin: 5px 0px 0px 0px;
  min-height: 20px;
}

.display-text {
  width: 100%;
  height: 64px;
  font-size: 32px;
  font-weight: lighter;
  background-color: var(--pallete-3);
  color: var(--pallete-1);
  position: relative;
}

.reveal-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: var(--pallete-1);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: none;
  opacity: 0.6;
}

.reveal-button:hover {
  opacity: 1;
}

.words-found li.word-revealed {
  background-color: var(--pallete-9);
}

.hexagon {
  position: absolute;
  width: var(--h-width);
  height: var(--h-side);
  background-color: var(--h-color);
  margin: var(--h-theight) 0;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: calc(var(--h-width) / 2) solid transparent;
  border-right: calc(var(--h-width) / 2) solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: var(--h-theight) solid var(--h-color);
}

.hexagon::after {
  top: 100%;
  width: 0px;
  border-top: var(--h-theight) solid var(--h-color);
}

.hexagon-pos-1 {
  left: 0%;
  top: 30%;
}

.hexagon-pos-2 {
  left: calc(33.333%);
  top: 30%;
}

.hexagon-pos-3 {
  left: calc(66.666%);
  top: 30%;
}

.hexagon-pos-4 {
  left: calc(16.666%);
  top: 0%;
}

.hexagon-pos-5 {
  left: calc(50%);
  top: 0%;
}

.hexagon-pos-6 {
  left: calc(16.666%);
  top: 60%;
}

.hexagon-pos-7 {
  left: calc(50%);
  top: 60%;
}

.letter-hex {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 16px);
  font-size: 32px;
  font-weight: lighter;
  z-index: 100;
  color: var(--pallete-5);
  cursor: pointer;
}

.refresh-puzzle{
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;

  background-color: var(--pallete-1);
  width: 15px;
  height: 15px;
  -webkit-mask-image: url("/assets/icons/masks/mask-refresh.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}

.top-status {
  width: 290px;
  text-align: left;
  margin: 10px auto 0px auto;
}

.top-status span {
  color: var(--pallete-1);
}

.image-lens {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(/assets/icons/masks/mask-lens.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  float: left;
  background-color: var(--pallete-1);
  margin-right: 3px;
}

@keyframes new-word {
  from{
    transform:translate(-100%);
    margin-right: -100px;
  }

  to{
    transform:translate(0%);
    margin-right: 8px;
  }

}

.words-found-overflow {
  overflow: auto;
  min-height: 26px;
}

.words-found {
  width: 10000px;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.image-flag {
  background-image: url(/assets/icons/italy.png);
  width: 28px;
  height: 20px;
  background-size: auto 20px;
  float: left;
  margin-right: 10px;
}

.words-found ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: var(--pallete-1);
}

.words-found li {
  float: left;
  background-color: var(--pallete-4);
  color: var(--pallete-5);;
  padding: 2px 6px;
  margin-right: 8px;
  position: relative;
}

/* Evidence List */

.container-overlay {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.evidence-list {
  display: none;
  width: 300px;
  min-height: 350px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -220px;
  padding: 20px 0px;
  z-index: 100;
  background-color: var(--pallete-3);
  color: var(--pallete-1);
}

.evidence-list ul {
  list-style-type: none;
  padding: 10px;
  font-size: 12px;
}

.evidence-list li {
  float: left;
  padding: 3px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  color: var(--pallete-5);
}

.word-missing {
  font-weight: bold;
}

.word-unselected {
  background-color: var(--pallete-4);
  border: 1px solid var(--pallete-3);
}

.word-selected {
  background-color: var(--pallete-1);
  border: 1px solid black;
}

.next {
  position: absolute;
  height: 100%;
  width: 20px;
  top: 0px;
  left: 280px;
  background-color: var(--pallete-1);
  color: var(--pallete-5);
  cursor: pointer;
}

.previous {
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0px;
  left: 0px;
  background-color: var(--pallete-1);
  color: var(--pallete-5);
  cursor: pointer;
}

.hidden-button {
  visibility: hidden;
}

.visible-button {
  visibility: visible;
}

.next span {
  top: 45%;
  position: relative;
  font-size: 20px;
}

.previous span {
  top: 45%;
  position: relative;
  font-size: 20px;
}

.slide {
  position: absolute;
  width: 250px;
  margin-right: 25px;
  margin-left: 25px;
}

.word-selection h1 {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
}

.word-selection h2 {
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
}

.word-definition h1 {
  text-align: left;
  font-size: 22px;
  text-decoration: underline;
}

.word-definition h2 {
  text-align: left;
  font-size: 14px;
}

.word-definition h3 {
  text-align: right;
  font-size: 10px;
  font-weight: lighter;
}

.final-message {
  font-size: 24px;
  margin-top: 150px;
}

.slide-show {
  left: 0px;
  transition: 1s;
}

.slide-hidden-left {
  left: -300px;
  transition: 1s;
}

.slide-hidden-right {
  left: 300px;
  transition: 1s;
}

/* Notification Bar */

@keyframes show-notification-bar {
  from {
    top:-50px;
  }
  to {
    top:0px;
  }
}

@keyframes hide-notification-bar {
  from {
    top:0px;
  }
  to {
    top:-50px;
  }
}

.container-notification-bar {
  width: 100%;
  height: 42px;
  position: absolute;
  top: -50px;
  display: none;
}

.container-request-word {
  width: 290px;
  background-color: var(--pallete-4);
  height: 42px;
  margin: auto;
  cursor: pointer;
}

.container-request-word-success-message {
  width: 290px;
  background-color: var(--pallete-8);
  height: 42px;
  margin: auto;
  cursor: pointer;
  color: var(--pallete-5);
  line-height: 36px;
}

.requested-word {
  text-align: center;
  line-height: 36px;
  color: white;
  font-weight: bold;
}

.request-word-bottom-left {
    height: 20px;
    width: 280px;
    margin: -12px auto;
    text-align: right;
    color: var(--pallete-5);
    font-size: 11px;
}

/* Password hints panel */
.password-hints-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: var(--pallete-1);
  margin-bottom: 4px;
  box-sizing: border-box;
}

.password-hints-panel.hidden {
  display: none;
}

.password-hint-nav {
  background: none;
  border: none;
  color: var(--pallete-5);
  font-size: 28px;
  cursor: pointer;
  padding: 0 12px;
  line-height: 48px;
  opacity: 0.7;
  flex-shrink: 0;
}

.password-hint-nav:hover {
  opacity: 1;
}

.password-hint-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  min-width: 0;
}

.password-hint-word {
  color: var(--pallete-5);
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: hint-reveal 0.3s ease-out;
}

.password-hint-counter {
  color: var(--pallete-6);
  font-size: 13px;
  flex-shrink: 0;
}

@keyframes hint-reveal {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Flag popup */
.flag-popup {
  position: fixed;
  display: none;
  align-items: center;
  gap: 8px;
  background-color: var(--pallete-1);
  padding: 6px 10px;
  border-radius: 4px;
  z-index: 200;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.flag-popup::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--pallete-1);
}

.flag-popup-text {
  color: var(--pallete-5);
  font-size: 12px;
  white-space: nowrap;
}

.flag-popup-btn {
  background-color: var(--pallete-9);
  color: var(--pallete-5);
  border: none;
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.flag-popup-btn:hover {
  opacity: 0.85;
}

/* Flagged word state */
.words-found li.word-flagged {
  text-decoration: line-through;
  opacity: 0.5;
}
